/* html{
    font-size: 10px;
} */

.country-detail-container {
  max-width: 1200px;
  margin-inline: auto;
}

main {
  margin-top: 0px;
  min-height: calc(100vh - 70px);
}
.back-button {
  /* font-size: .9rem; */
  /* background-color: #2e3a49; */
  padding: 0.8rem 2.8rem;
  box-shadow: 0px 0.2rem 1.2rem rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
  transition: all 0.2s ease-in-out;
}

.back-button:hover {
  transform: scale(1.5);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
}

.country-details {
  margin-top: 6.4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 6.4rem;
}

.country-details img {
  width: 45%;
}
.details p {
  /* margin: 0; */
  font-size: 1.1rem;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 4.8rem;
}

.border-country a {
  /* background-color: #2e3a49; */
  border-radius: 4px;
  box-shadow: 0px 0.2rem 1.2rem rgba(0, 0, 0, 0.15);
  padding: 4px 18px;
}
.border-country {
  /* margin: 4px; */
  border-radius: 4px;
  font-size: 14px;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

/* media query */

@media (max-width: 1142px) {
  .country-details {
    display: flex;
    gap: 18px;
  }
  .details p {
    font-size: 16px;
  }
}

@media (max-width: 922px) {
  /* html{
        font-size: 9px;
    } */

  main {
    margin-top: 0px;
  }
  .country-details img {
    width: 100%;
    max-width: 400px;
  }
  .country-details {
    margin-top: 64px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    /* align-items: center; */
    /* justify-: flex-start; */
    align-items: flex-start;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
  .border-country {
  }
}
