/* 
.country-details   {
  height: 500px;
  background-color: #cfbfbf;
}

.country-details img {
  width: 45%;
  background-color: #ccc;
}

.details-text h2 {
  height: 20px;
  background-color: #ccc;
}
.details p {
  height: 15px;
  background-color: #ccc;
} */
