* {
  box-sizing: border-box;
}

body {
  --background-color: white;
  --element-color: white;
  --text-color: black;

  margin: 0;
  font-family: Quicksand, sans-sherif;
}

main,
header {
  background-color: var(--background-color);
  color: var(--text-color);
}

main.dark,
header.dark {
  --background-color: hsl(207, 26%, 17%);
  --element-color: hsl(209, 23%, 22%);
  --text-color: white;
}
main {
  padding: 24px;
}
a {
  text-decoration: none;
  color: inherit;
}

.header-container {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--element-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 11;
}

/* styling header part */
.header-content {
  /* margin-top: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* giving max width */
  max-width: 1200px;

  /* inline bole toh left-right */
  margin-inline: auto;

  /* inline padding(left-right) */
  padding-inline: 18px;
}

.title {
  font-weight: 900;
}
.theme {
  cursor: pointer;
}

/* styling main */

.search-filter-container {
  max-width: 1200px;
  margin-inline: auto;
  /* margin-left: 55px; */
  margin-top: 24px;
  margin-bottom: 48px;
  /* background-color: pink; */
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;

  /* align-items: flex-start; */
}
.search-container {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  padding: 0 16px;
  border-radius: 4px;
  color: #999;
  background-color: var(--element-color);
  color: var(--text-color);
}
.search-container input {
  border: none;
  outline: none;
  padding: 12px 14px;
  width: 90%;
  border-radius: 4px;
  background-color: inherit;
  color: inherit;
}
.search-container input::placeholder {
  color: #999;
}
.filter-container {
  border: none;
  outline: none;
  padding: 12px 14px;
}
.filter {
  width: 220px;
  padding: 12px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--element-color);
  color: var(--text-color);
}

.country-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 24px;

  display: flex;

  gap: 64px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country-card {
  background-color: var(--element-color);
  display: inline-block;
  width: 250px;

  border-radius: 8px;
  /* background-color: pink; */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  padding-bottom: 34px;
  overflow: hidden;

  /* transition property */
  transition: all 0.3s ease-in-out;
}
.country-card:hover {
  /* background-color: pink; */
  transform: scale(1.02);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
}

.card-text {
  padding-inline: 24px;
}

.card-text p {
  margin-block: 8px;
}

.country-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;

  /* height: 150px; */
}

.card-title {
  font-size: 24px;

  /* block bole toh up and down */
  margin-block: 16px;
}

@media screen and (max-width: 768px) {
  .country-container {
    justify-content: center;
  }

  .search-filter-container {
    /* display: flex; */
    flex-direction: column;
    gap: 32px;
  }
}

@media screen and (max-width: 400px) {
  .country-container {
    justify-content: center;
  }
  .title {
    font-weight: 900;
    font-size: 18px;
  }

  .card-text {
    padding-inline: 22px;
  }

  .header-content p {
    font-size: 12px;
  }
}
